link( rel='stylesheet', href='/lib/JQDateRangeSlider/iThing.css' )

script( type='text/javascript', src='/lib/jquery/jquery-ui-1.10.3.custom.min.js' )
script( type='text/javascript', src='/lib/JQDateRangeSlider/jQDateRangeSlider-min.js' )
script( type='text/javascript', src='/lib/js/date-slider-functions.js' )

div( id="slider" )