include date-selector.jade
div.buttonRow( id="conf" )
  div.selector Vulnerability
  div.selector Type 1
  div.selector Type 2
  button.runReport Run New Report
div.buttonRow( id="sev" )
  div.selector High
  div.selector Medium
  div.selector Low
  div.selector Informational