table.issues
  width 100%
  border-collapse collapse
  background white

td.var
td.val
  padding 2px

div.var
  font-weight 600
  width 110px
  
div.val
  word-wrap break-word
  
div#slider
  padding-bottom 5px
  margin-left 5px
  
td.issues
th.issues
  overflow hidden
  font-size 11px
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight 400
  white-space nowrap
  border-color #2B2B2B
  border-width 1px
  border-style solid
  padding 4px

th.issues
  font-size 16px
  font-weight 600  
  border-width 2px
  background-color: #F3F3F3

div.radio
  padding-left 10px
  width: 130px
  text-align left
  line-height 135%
  position relative
  
div.textbox
  left 13px
  position relative
  padding-top 5px
  padding-bottom 5px

div.review
  padding-top 30px
  padding-left 13px
  padding-bottom 5px
  position relative
  
input.review
  display block 
  border-radius( 5px );
  width 100px
  height 20px
  border 1px solid #3F3F3F
  font-weight 600
  font-family "Verdana"
  text-shadow 0 -1px 0 rgba(0, 0, 0, 0.8); 
  background linear-gradient( top, #848484, #F2F2F2 )
    
input.review:hover {  
  border-color #AFAFAF
  background linear-gradient( top, #A4A4A4, #F2F2F2 )
}  

input.review:active {
  padding:1px 0 9px;  
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8); 
}
  
div.date
div.vulnerabilityMethod
  width 80px
  
div.issues
  height 10px
  width 200px

div.cwe
div.lineNumber
  height 10px
  width 20px

div.th.cwe
  width 20px
  
.hidden
  display none

table.information
  padding 25px
 
div.information
  font-size 15px
  position relative
  width 90%
  padding-left 25px
  padding-top 10px
  display block
  
div.metadata
div.reviewdata
  font-weight 600
  white-space nowrap
  font-size 13px
  position relative
  padding-left 10px
  padding-right 5px
  padding-top 10px
  padding-bottom 10px
  color #5C5C5C
  display inline-block
  
div.reviewdata
  width 40%
  height 56px
  
div.severity
div.confidence
  width 40px
  
div.metadata
  width 35%

div.reviewForm
  position relative
  width 80%