div.container
  padding 20px 10px 20px 20px
  border-radius 30px
  position relative
  min-width 100px
  min-height 70px
  max-width 230px
  max-height 110px
  display inline-block
  vertical-align middle
  
div.container div
  position relative
  height 25%
  display inline-block
  padding 6px 0px 6px 0px
  
div.label
  width 36%
  
div.input
  width 56%
  
div.spacer
  width 100%
  
iframe 
  position relative 
  border 1px solid #F2F2F2

iframe.coverage
  width 95% 
  margin-left 20px 
  margin-right auto
  background white

iframe.javadoc
  display inline-block
  margin 30px 30px 30px 30px
  vertical-align middle
  width 60%
  background white
  
input.text
  width 100%
  position relative