div.body div.selector  
  display inline-table
  width 100px
  height 20px
  float left
  position relative
  border-style solid
  border-width 2px
  text-align center
  background #A2A6AB
  cursor pointer

div.error
  background-color red
  padding 10px 10px 10px 30px
  margin-bottom 15px

span.errorHeader
  font-weight 700

div.body div.buttonRow
  display block
  height 30px
  position relative
  width 100%
  padding 5px
  background inherit
  
button.runReport
  border-radius 5px 5px 5px 5px
  background linear-gradient( bottom left, #848484, #F2F2F2 )
  float right
div.tab
  position relative
  top 20%
  display inline-table
  height 20px
  width 125px
  margin-left 20px
  text-align left

div.subarea
  height 25px
  background linear-gradient( bottom, #848484, #848484 )
  display none
  width 100%
  position relative
  
.issuesSubmenu,
.adminSubmenu,
.reportSubmenu,
.staticIssuesSubmenu
  position relative
  display none
  height inherit
  width 150px
  text-align left
  margin-left 20px
  top -10%
  
div.auth
  position absolute
  display block
  width 100px
  text-align right
  left 90%
  
div.tabPanel
  height 40px
  background linear-gradient( bottom, #848484, #F2F2F2 )
  
div.top
  height 65px
  padding-bottom 15px
  margin 0px
  
div.body
  position relative
  margin 7px 7px 7px
  
div.body div.container
  background white
  
div#container 
  background #00001B
  border-style solid
  border-width 2px

div#slider
  margin 10px 10px 10px 26px
  
div 
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  text-align left
  
body
  margin 0
  background linear-gradient( bottom, #C4C4C4, #F2F2F2 )
  background-repeat no-repeat
  background-attachment fixed